@use "../../../../styles/variables.module" as *;
@use "../../../../styles//mixins.module" as *;

.mainSection {
  height: calc(100vh - 80px);
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  background: $color-primary-navyblue;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;    

    h3 {
      color: $color-primary-lightblue;
      text-align: center;
      color: rgb(212, 223, 251);
    }
    h1 {
      font-size: 3rem;
      text-align: center;
      color: $color-button-text;
    }
    p {
      text-align: center;
      color: $color-background;
    }
  }

   .main {
    width: 90%;
    padding: 2rem 0;

    .threeColumns {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
      
      .boxSection {
        width: 100%;
        background: $color-button-text-hover;
        padding: 1.5rem;
        border: $border-main;
        border-color: $color-button-background-hover;
        border-radius: $border-radius;

        h3 {
          color: rgb(195, 218, 252);
          font-size: 3rem;
        }
        h2 {
          color: $color-element-background;
          font-size: 2.5rem;
        }
        p {
          font-size: 1.2rem;
          padding: 1.5rem 0;
          color: $color-background;
        }
      }

      .tagSection {
        display: flex;
        justify-content: center;
        gap: 1.5rem;

        p {
          background: $color-button-background-hover;
          color: $color-primary-blue;
          border-radius: 50px;
          padding: 0.5rem 1.5rem;
        }
      }

      .buttonSection {
        padding: 1rem 0;
        button {
          border: none;
          color: $color-primary-blue;
          background: none;
        }
      }
    }
  }
}