@use "../../../../styles/variables.module" as *;
@use "../../../../styles//mixins.module" as *;

.companySection {
  height: calc(100vh - 80px);
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;    

    h3 {
      color: $color-primary-lightblue;
      text-align: center;
    }
    h1 {
      font-size: 3rem;
      text-align: center;
    }
  }

  .main {
    width: 80%;
    padding: 3rem 1rem;

    .twoColumns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;

      .leftSection {
        h2 {
          color: $color-primary-navyblue;
          text-align: left;
        }
        p {
          font-size: 1.4rem;
        }
      }

      .rightSection {
        width: 90%;
        display: flex;
        flex-direction: column;

        h3 {
          color: $color-primary-navyblue;
        }

        .companyInfo {
          padding: 1rem 2rem;
          border: $border-main;
          border-radius: $border-radius;
          background: $color-element-background;

          .item {
            display: flex;
            justify-content: space-between;
          }

          h3 {
            color: $color-text;
          }
          p {
            color: $color-text;
            font-size: 1.4rem;
          }
        }

        .serviceInfo {
          padding: 2rem;
          border: $border-main;
          border-radius: $border-radius;
          background: $color-element-background;
        }
      }
    }
  }
}